.restaurant {
  width: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid violet;
  margin: 10px;
  padding: 5px;
}

.food-image {
  height: 120px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-image > img {
  height: 100px;
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.logo-box img {
  width: 80px;
}

.navbar > ul {
  list-style: none;
  display: flex;
}

.navbar li {
  padding: 5px;
  margin: 5px;
}

.navbar li:hover {
  cursor: pointer;
  color: #ffcc00;
}

.footer {
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.error {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurantMenu {
  display: flex;
  overflow-x: auto;
}

/* .restaurantMenu::-webkit-scrollbar{
  display: none;
} */

.restaurant-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  margin-top: 5px;
}

.restaurant-info-details {
  display: flex;
  justify-content: space-between;
}

.restaurant-info-food-image {
  display: flex;
  height: 100px;
}

.restaurant-info-name {
  font-size: 2.5rem;
}

.restaurant-offer-cards {
  display: flex;
  width: 60%;
  justify-content: center;
  margin-left: 20%;

  padding: 2px;
}

.restaurant-offer {
  align-items: center;
  justify-content: space-between;
  background-color: #f5e8dd;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  margin: 2px;
  padding: 2px;
  width: auto;
}



.restaurant-offer-details {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.restaurant-offer-header {
  font-size: 12px;
  color: #e46d47;
}

.restaurant-offer-coupon {
  font-size: 8px;
  color: red;
}

.restaurant-offer-desc {
  color: #e78895;
  font-size: 12px;
}

.restaurant-carousel {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-left: 20%;
}

.carousel {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin: 2px;
  width: 100%;
}

.carousel-image {
  width: 100px;
}

.carousel-food-details {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.price-details {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  padding: 2px;
  margin: 2px;

  width: 10%;
}
